body{
    background-color:  lightslategray;
}

nav ul {
  list-style: none;
  display: flex; 
  padding: 20px ;
  margin: auto;
  gap: 200px; 
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 8px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  display: block;
}

nav a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

.social {
  display: inline-flex;
  margin-right: 295px;
  width: 30%;
  height: 30%;
}
.profil
{
  width: 150px;
  border-radius: 10%;
}
img {
  display: block;
  margin: auto;
  margin-top: 50px;
  max-width: 80%;
  height: auto;
}

h2, h3, p {
    text-align: center;
    color: white;
}