body{
    background-color:  lightslategray;
}

nav ul {
  list-style: none;
  display: flex; 
  padding: 20px ;
  margin: auto;
  gap: 200px; 
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  display: block;
}

nav a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

img {
  display: block;
  margin: auto;
  margin-top: 50px;
  max-width: 80%;
  height: auto;
}

.social {
  display: inline-flex;
  margin-right: 295px;
  width: 30%;
  height: 30%;
}
.profil
{
  width: 150px;
  border-radius: 10%;
}

.article-image {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}
.statistique-image {
  width: 10%;
  height: 10%;
  border-radius: 8px;
  margin-top: 20px;
}
h2, h3, p{
  text-align: center;
  color: white;
  font-style: bold;
}
ul li{
  list-style: none;
  text-align: center;
  color: white;
  font-family: "Citation-Regular";
}

p{
  font-size: 18px;
  font-family: "Citation-Regular";
}
@font-face {
  font-family: "Citation-Regular";
  src:url(../Font/Citation-Regular.ttf);
}